*{
   margin: 0px;
   padding: 0px;
   font-family: "Inter", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding-top: 27px;
    padding-bottom: 27px;
}
.navigation{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
 ul li a{
    text-decoration: none;
    color: #575757;
}
.common-btn{
    border-radius: 12px;
    border: none;
    background-color: #1D4ED8;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 42px;
    cursor: pointer;
      transition: background-color 0.3s ease,
                box-shadow 0.3s ease,
                transform 0.3s ease;
}
.common-btn:hover{
      background-color:#389ef1 ;
    box-shadow: 0 8px 20px rgba(253, 110, 10, 0.35);
    transform: translateY(-2px);
}
/* hero secton style */
.btn{
      border-radius: 12px;
    border: none;
    background-color: #1D4ED8;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    padding: 25px 63px;
    cursor: pointer;
    margin-top: 278px;
      transition: background-color 0.3s ease,
                box-shadow 0.3s ease,
                transform 0.3s ease;

}
.btn:hover{
      background-color:#389ef1 ;
    box-shadow: 0 8px 20px rgba(253, 110, 10, 0.35);
    transform: translateY(-2px);
}
.hero{
    background-image:        linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.55) 40%,
        rgba(0, 0, 0, 0.35) 100%
    ),
    url(../assets/banner.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
      width: 100%;
    min-height: 100vh;

}
.hero-content{
    max-width: 1200px;
    margin: auto;
}
.hero-content h6{
    font-size: 90px;
    color: whitesmoke;
    font-weight: 900;
        margin-bottom:20px;
}
.hero-content p{
    color: whitesmoke;
    font-weight: normal;
    font-size: 22px;
    margin-top: 20px;
}
/* this is the end of hero section */
.meet{
      max-width: 1200px;
    margin: auto;
}
.speker-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.speker-card{
    border-radius: 16px;
    border: 0.5px solid #cfcdcd;
    overflow: hidden;
}
.speker-info{
    padding: 24px;
}
.speker-info h4{
    font-size: 12px;
    font-weight: 700;
    color: #2563EB;

}
.speker-info h3{
    margin-top:8px;
    margin-bottom:8px;
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
}
.speker-info p{
    font-size: 14px;
    color: #575757;
}
.meet h1{
    font-size: 56px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 58px;
}